*{
    box-sizing: border-box;
}

::selection{  /*para seleccionar*/
    background-color: rgb(117, 12, 215);
    color: #fff;
}


body{
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;  /*em= medidas relativas->va a interpretar el navegador*/
}

/*-----------------------------------------------------------------CAJA DEL FORMULARIO-----------------------------------------------------------*/



/*----------------------barra navegacion-----------------------------*/
.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo{
    text-align: center;
    font-size: 3em;
    color: rgb(117, 12, 215);
}

.div-form{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    margin-bottom: 30px;
}

.div-form > {  /*todo lo q este adentro del div form*/
    padding: 1em;
}

/*-------------------------------------------------------------------FORMULARIO-------------------------------------------------------------------*/
.caja-form{
    background: #E4D1B9;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr; /*para dos columnas en el div form,, 1fr es fracciĂłn*/
}

form label{
    display: block;
    color: #fff;
}

form p{
    margin: 0;
    padding: 1em;
}

.caja-form form .mensaje, .enviar,
form input[type=checkbox]{   /*es para el input del checkbox*/
    grid-column: 1 / 3;
}

button,input,textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 2px solid rgba(190, 41, 190, 0.789);
    font-size: 16px;
    background: rgba(8, 8, 8, 0.06);
}

select{ /*es desplegable de opciones*/
    border: none;
    width: 100%;
    height: 44.3px;
    appearance: none;
    border-bottom: 2px solid rgba(190, 41, 190, 0.789);
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    background: rgba(8, 8, 8, 0.06);
} 

select:focus{
    border: none;
    outline: none;
}

option{ /*las option del desplegable*/
    background-color:#C2B092;
    color: #fff;
}

.checkbox{
    width: 20%;
    display: inline-block;
    grid-column: 1 / 3;
    color: #C2B092;
}

.p-label-checbox{
    display: inline-block;
    width: 100%;
    grid-column: 1 / 3;
    text-align: center;
}

.p-button{
    display: block;
    grid-column: 1 / 3;
}

label{
    font-weight: bold;
}

.email-datos{ /*para el color del link del mail*/
    color: #fff;
    text-decoration: none; /*para sacar el subrayado*/
}

form button{  /*enviar*/
    display: block;
    grid-column: 1 / 3;
    background: rgba(190, 41, 190, 0.789);
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    padding: .6em;
    font-weight: bold;
    cursor: pointer;
}

textarea{
    resize: none;
}

.caja-form form button:hover,
.caja-form form button:focus { /*enviar focus cuando activo, hover por encima*/
    background: rgb(117, 12, 215);
    color: #fff;
    outline: 0;
}

/*--------------------------------------------------------------------DIV DE INFO Y MAPA-----------------------------------------------------------*/

ul{
    list-style: none;
    padding: 0;
}

.info{
    background: lightblue; /*color de la caja de info#99cbd7 */
}

.info h4, .contact-info ul, .info p{
    text-align: left;
    margin: 0 0 1rem 0;
}

/*-------------------------------------------------------------------TIPO DE LETRAS----------------------------------------------------*/
h4{
    color:rgb(240, 6, 240);
}

p{
    color:rgba(190, 41, 190, 0.789);
    font-weight: bold;
}

h5{
    text-align: left;
    margin: 0 0 1rem 0;
    font-size: 16px;
    font-weight: bold;
    color:rgb(240, 6, 240);
}

h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -8px;
    margin-bottom: 15px;
    color:rgb(240, 6, 240);
}

h6{
    text-align: center;
    font-size: 0.9em;
    color: rgba(190, 41, 190, 0.789);
    font-weight: bold;
}
/*---------------------footer------------------*/
.footer {
    background-image: url(fondomundo.png);
    background-repeat: repeat;
    margin: 20px -21px 0;
    padding: 50px 20px;
    display: flex;
}
#tabla {
    display: grid;
    grid-template-areas:
    "box1 box2 box3";
    grid-template-columns: 0,5fr 2fr 1fr;
}
.box1 {
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box1 a:nth-child(1n){
    padding: 10px 10px;
    margin: 5px;
}
.contactos {
    text-decoration: none;
}

/*-----------------------------------------------------------------------MEDIA QUERY--------------------------------------------------------------*/

@media (max-width: 999px) {

    body{
        padding: 0 4em;
    }

    .logo, span {
        text-align: center
    }

    .div-form{
        display: grid;
        grid-template-columns: 1fr;
    }

    form >* {
        grid-column: 1 / 3;
    }

    .div-form > { /*todo lo q esta adentro del div form*/
        padding: 2em;
        
    }

    .info >* {
    text-align: left;
    }
}

@media (min-width: 1000px) {

    body{
        padding: 0 4em;
    }

    .div-form{
        display: grid;
        grid-template-columns: 1fr;
    }

    .div-form > { /*todo lo q esta adentro del div form*/
        padding: 2em;
        
    }

    .info h4,
    .info ul,
    .info p {
    text-align: left;
    }
}

@media (min-width: 1100px) {

    body{
        padding: 0 4em;
    }

    .div-form{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .div-form > { /*todo lo q esta adentro del div form*/
        padding: 2em;
        
    }

    .info h4,
    .info ul,
    .info p {
    text-align: left;
    }

}

@media (min-width: 1200px) {

    body{
        padding: 0 4em;
    }

    .div-form{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .div-form > { /*tpdo lo q esta adentro del div form*/
        padding: 2em;
    }

    .info h4,
    .info ul,
    .info p {
    text-align: left;
    }
}