* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #fff ;
    padding: 90px 0px 0;
}



.header {
    background-color: rgb(240, 6, 240);
    position: fixed;
    height: 140px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo {
    padding-top: 2px;
    padding-right: 15px;
    margin-left: 30px;
    margin-top: 2px;
}
.nav {
    display: flex;
    list-style: none;
    margin-left: 75px;
    padding: 5px 0;
    float:right;
    max-width: 1100px;
    margin: auto;
}
.nav-link {
    
    color: rgb(117, 12, 215);
    text-decoration: none;
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.flex {
    display: flex;
    flex-direction: column;
}
.nav-menu-item {
    
    font-size: 20px;
    margin: 0 10px;
    line-height: 25px;
    text-transform: uppercase;
    width: max-content;
    display: inline-block;
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(117, 12, 215);
    font-family: sans-serif;
    font-size: medium;
    font-weight: bolder;
    
}
.nav-menu-link:hover {
    background-color: rgb(117, 12, 215, 0.3);
    transition: 0,5s;
}
.contactos:hover {
    background-color: rgb(117, 12, 215, 0.3);
    border-radius: 10px;
    transition: 0,5s;
}

/*--------------hasta aca barra de navegacion-------------------*/
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in-out;   
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
    
}
@keyframes cambio {
    0% {margin-left: 0;}
    10% {margin-left: 0;}

    15% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}    
}
.item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    font-family: 'Roboto Slab', serif;
}
.enlase {
    padding: 8px 12px;
    border-radius: 3px;
}
.enlase:hover {
    background-color: #e36414;
    transition: 0.5s;    
}
.tuexperiencia {
    font-family: Oswald;
    color: rgb(240, 6, 240);
    box-shadow: 3px 8px 5px 5px black;
    font-size: 40px;
    margin: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    align-items:center;   
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(117, 12, 215);
    text-shadow: 6px 10px 5px rgb(240, 6, 240);;
    font-size: 50px;
    margin: 5px;
    display: flex;
    justify-content: end;   
}

.Introducción {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 90px;
    padding: 20px 20px;   
}
.subtitulo {
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    list-style: none;
    border-style: ridge;
    border-color: rgb(117, 12, 215);
    box-shadow: 3px 8px 5px black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-right:  20px;
    padding: 30px 20px;
}
.subtitulo:hover {
    background-color:  rgba(117, 12, 215, 0.6);
    transition: 0.5s;
}
.Cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 20px;
}
/*---------------comienza footer------------------*/


.footer {
    background-image: url(fondomundo.png);
    background-repeat: repeat;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(117, 12, 215);
    margin: 0;
}
#tabla {
    display: grid;
    grid-template-areas:
    "box1 box2 box3";
    grid-template-columns: 1fr 2fr 3fr;
    grid-column-gap: 15px;
}
.box1 {
    padding-left: 20px;
    padding-top: 20px;
}
.box1-item1 {
    padding-left: 10px;
    padding-right: 10px;
}
.box1-item2 {
    padding-left: 10px;
    padding-right: 10px;
}
.box1-item3 {
    padding-left: 10px;
    padding-right: 10px;
}
.contactos {
    text-decoration: none;
    color: rgb(117, 12, 215);
}


/*------------------------Comienza hoja de EXPERIENCIA---------------------------*/

main {
    margin-top: 130px;
}
.titulo-estefi{
    font-size: 25px;
    color: rgb(240, 6, 240);
    font-family: 'sans-serif', 'Abril Fatface', 'Lobster' ;
    text-align: center;
    text-shadow: #79604f 0.2mm;
}
.section-experiencia {
        max-width: 1200px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
}
.contenedor-estefi a {
display: inline-block
}
.contenedor-estefi:hover figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);   
}
figure{
    width: 500px;
    height: 500px;
    margin: 0;
    position: relative;
    transition: all ease .7s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
figure .front, 
figure .back {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all ease .7s;
}
figure .front {
    display: block;
    backface-visibility: hidden;
}
figure .back {
    position: absolute;
    top: 0;
    padding: 20px;
    font-weight: normal;
    color: rgb(117, 12, 215);
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    text-align: center;
}
figure .back p {
    font-size: 14px;
    line-height: 32px;
}



/*------------------------------ Comienza hoja Programas------------------------------ */

.main {
    margin-top: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 130px;
    padding-bottom: 80px;
    font-family: 'Quicksand', sans-serif;
    background-color: lightblue ;
}

.main h1 {
    text-align: center;
    color: rgb(117, 12, 215);
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.ahref:hover{
    color: rgb(117, 12, 215);
    background-color: rgba(240, 6, 240, 0.3);
    transition: 0,5s; 
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(117, 12, 215);
}

h2 {
    text-align: center;
}

.imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.image {
    width: 90%;
    align-content: center;
    border: 5px rgb(117, 12, 215) solid;
    border-radius: 10%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 30px;
    box-shadow: 7px 7px 10px 0 rgba(236, 149, 175, 0.5);
}

.text {
    font-size: 20px;font-weight: bold;
    border: 5px rgb(117, 12, 215) solid;
    margin-left: 35px;
    margin-right: 35px;
    padding: 30px;
    border-radius: 10%;
    background-color: white;
    color: rgb(240, 6, 240);
    box-shadow: 7px 7px 10px 0 rgba(236, 149, 175, 0.5);
    text-align: justify;
}



@media screen and (min-width: 768px) {
body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
    }
    .image {
        margin-left: 10%;
        margin-right: 10%;
        align-content: center;
        width: 80%;
    }
    .text {
        border-radius: 15%;
        font-size: 22px;
    }

@media screen and (min-width: 1024px) {

.subtitulo:hover {
    background-color: rgb(0, 204, 255);
}
.flex {
    display: flex;
    flex-direction: row;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    width: 29%;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.text {
    font-size: 24px;
}
}

}

::selection{  /*para seleccionar*/
    background-color: rgb(117, 12, 215);
    color: #fff;

}
