* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
}
body{
    color: #750cd7;
    line-height: 1.2;
    font-family: 'Quicksand', sans-serif;
}

.logo{
    height: 100px;
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

.list {
    color: #750cd7;
    font-size: 25px;
}
.list:hover {
    background: rgb(117, 12, 215, 0.1);
    color: #750cd7;
    transition: .3s;
    font-weight: bold;
    text-shadow: 1px 2px  #e4e0e9;
}
.posit {
    margin-left: 20%;
    margin-top: 90px;
    overflow: hidden;
    width: 60%
}

p {
    font-size: 30px;
}
/*--------------hasta aca barra de navegacion-------------------*/
.tuexperiencia {
    color: #750cd7;
    box-shadow: 3px 8px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    align-items:center;
    flex-direction: column; 
    text-align: center;
}
.tuexperiencia h2 {
    font-size: 60px;
}
.tuexperiencia h4 {
    font-size: 40px;
}
.tuexperiencia h3 {
    font-size: 45px;
}

.item {
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.diversion, 
.confort {
    text-align: center;
}

.divers,
.confor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.diversion1,
.confort1 {
    display: flex;
    gap: 20px;
}

.diversion h3,
.confort h3 {
    color: rgb(117, 12, 215);
    text-shadow: 3px 3px  #423e46;
    font-size: 55px;
    margin: 25px;
}

.subtitulo {
    font-size: 30px;
    list-style: none;
    border-style: ridge;
    border-color: rgb(117, 12, 215);
    box-shadow: 3px 8px 5px black;
    border-radius: 5px;
    flex: 1 1 20%;
    text-align: center;
    gap: 20px;
}

.subtitulo a {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding-top: 35px;
}
.subtitulo:hover {
    background-color:  rgba(117, 12, 215, 0.3);
    transition: 0.5s;
}
.cuerpo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin: 20px;
    gap: 20px;
}
.cuerpo img {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cuerpo a:hover {
    color: #750cd7;
    font-weight: bold;
    transition: .3s;
}
/*---------------comienza footer------------------*/
.footer {
    background-image: url(fondomundo.png);
    background-repeat: repeat;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    color: rgb(117, 12, 215);
    font-size: 15px;
    margin: 0;
}
#tabla {
    display: grid;
    grid-template-areas:
    "box1 box2 box3";
    grid-template-columns: 1fr 2fr 3fr;
    grid-column-gap: 15px;
}
.box2 a:hover {
    background: rgb(117, 12, 215, 0.1);
    transition: .3s;
    }
.box1 {
    padding-left: 20px;
    padding-top: 20px;
}
.box1-item1,
.box1-item2,
.box1-item3 {
    padding-left: 10px;
    padding-right: 10px;
}

.contactos {
    text-decoration: none;
    color: rgb(117, 12, 215);
}
h5,
.box2 a,
.box3 p {
    font-size: 20px;
}

/*------------------------Comienza hojas de EXPERIENCIA y PROGRAMAS---------------------------*/
.foto.portada.estefi{
    display: flex;
    align-content: center;
}
.titulo-estefi{
    color: #750cd7;
    box-shadow: 3px 8px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    margin: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    align-items:center;
    flex-direction: column; 
}
.titulo-estefi h1 {
    font-size: 55px;
    display: flex;
    justify-items: center;
}
.section-experiencia {
        max-width: 1200px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
}
.contenedor-estefi a {
    display: inline-block;
}
.contenedor-estefi:hover figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);   
}
figure{
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 15px 50px;
    position: relative;
    transition: all ease .7s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
figure .front, 
figure .back {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all ease .7s;
}
figure .front {
    display: block;
    backface-visibility: hidden;
}
figure .back {
    position: absolute;
    top: 0;
    padding: 20px;
    font-weight: 700;
    color: rgb(117, 12, 215);
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    text-align: center;
}
figure .back p {
    font-size: 15px;
    line-height: 25px;
}

.main h1 {
    text-align: center;
    color: rgb(117, 12, 215);
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.ahref:hover{
    color: rgb(181, 120, 238);
    background-color: rgba(240, 6, 240, 0.329);
    transition: 0,5s; 
    border-radius: 10px;
}
.ahref {
    text-shadow: 1px 2px black;
}
a {
    text-decoration: none;
    color: #750cd7;
}

.tit {
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px  #423e46;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #750cd7;
}
.tit2 {
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px  #423e46;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}
.tit3 {
    text-align: center;
    font-size: 20px;
    text-shadow: 3px 3px  #423e46;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}
.tit1 {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 2px  #423e46;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #750cd7;
}
.efectos {
    text-shadow: 3px 3px  #423e46;
}

.text p{
    font-size: 22px;
}
.text {
    font-weight: 500;
    width: 95%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    background-color: rgb(7, 116, 160);
    color: rgb(241, 253, 253);
    box-shadow: 7px 7px 10px 0 rgba(77, 86, 97, 0.5);
    text-align: justify;
    border-radius: 10px;
}
.text1 p{
    font-size: 20px;
}
.text1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
    gap: 20px;
    font-weight: 500;
    width: 96%;
    align-content: space-between;
    background-color: rgb(7, 116, 160);
    color: rgb(241, 253, 253);
    box-shadow: 7px 7px 10px 0 rgba(77, 86, 97, 0.5);
    text-align: justify;
    border-radius: 10px;
}
.titi {
    flex: 1 1 46%;
    margin: 20px;
    gap: 20px;
}

.datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.fundador {
    display: inline-block;
    margin-left: 10px;
}
.fundador h4 {
    margin-left: 40px;
}
#fundador {
    width: 120%;
    margin-left: 10px
}
.text3 {
    font-weight: 500;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgb(7, 116, 160);
    color: rgb(241, 253, 253);
    box-shadow: 7px 7px 10px 0 rgba(77, 86, 97, 0.5);
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}
.text3 p{
    font-size: 22px;
}

.titulos {
    text-align: center;
    font-size: 10px;
    flex: 1 1 20%;
}
.input {
    font-size: 15px;
    margin-left: 0px;
    text-align: center;
    width:300px;
    height: 45px;
    padding-left: 3px;
    background-color: white;
}

.boton {
    border-radius: 10px;
    padding: 25px;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
}
.envia {
    font-size: 15px;
    font-weight: bolder;
    color: white;
    border-radius: 10%;
    background-color: rgb(133, 173, 248);
    padding: 15px;
    border: 2px solid white;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}
.envia:hover {
    color: black;
}
.parraf {
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding: 5px;
    margin-right: 30px;
}

.ipt {
    font-size: 22px ;
    font-weight: 700;
    color: #750cd7;
    display: list-item;
    text-align: center;
}
.ipt1 {
    font-size: 15px ;
    font-weight: 500;
    color: rgb(241, 253, 253);
    justify-items: left;
    align-items: baseline;
}

.data1 {
    display: flex;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 3px 3px  #423e46;
    background-color: rgb(7, 116, 160);
    box-shadow: 7px 7px 10px 0 rgba(77, 86, 97, 0.5);
    box-sizing: inherit;
}
.data2,
.data3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 50%;
    padding: 14px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(133, 173, 248);
    box-shadow: 7px 7px 10px 0 rgba(77, 86, 97, 0.5);
    text-shadow: 3px 3px  #423e46;
}
.data22, .data33 {
    flex: 1 1 20%;
}

.data3 input {
    align-items: center;
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    margin: 20px;
    width: 98%;
}
#resultado, 
#financiacion1, 
#presupuesto,
#presupuestoPosible1, 
#respuesta,
#asesoramiento {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-shadow: 3px 3px  #423e46;
    padding: 5px;
    text-align: center;
    border: 2px;
    background-color: rgb(7, 116, 160);
}

/* Hasta acá el formato de Experiencias y Programas */



@media (max-width: 768px){
    .list {
        font-size: 20px;
    }
    .posit {
        width: 90%;
        margin-left: 5%;
    }
    .footer{
        font-size: 10px;
    }
    .box2 a, .box3 p {
        font-size: 15px;
    }
    .box2 h5, .box3 h5 {
        font-size: 15px;
    }
    
    h3{
        font-size: 15px;
        justify-content: center;
    }
}

@media (max-width: 952px){
    .footer{
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    h2 {
        font-size: 50%;
    }
    .tuexperiencia h2,
    .efectos h1 {
        font-size: 45px;
    }
    .center {
        text-align: center;
    }
    .tuexperiencia h4,
    .diversion h3,
    .confort h3 {
        font-size: 40px;
    }
    h3{
        font-size: 50px;
        justify-content: center;
    }
    #fundador {
        display: flex;
        width: 100%;
    }
    .tit1, .parraf {
        font-size: 20px;
    }
    .tit1 h2 {
        font-size: 17px;
    }
    figure .front, 
    figure .back {
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    figure .back p {
        font-size: 12px;
        line-height: 20px;
    }
    .data{
        flex-direction: column;
    }
    .data1 {
        width: 96%;
    }
    .data2,
    .data3 {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    
    @media screen and (min-width: 1024px) {
        .subtitulo:hover {
        background-color: rgb(194, 224, 233);
    }   
    .flex {
        display: flex;
        flex-direction: row;
    }
    .imagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .image {
        width: 29%;
        align-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .text {
        font-size: 15px;
    }
    .footer{
        font-size: 25px;
    }
    }
    @media screen and (max-width: 1340px){
        .subtitulo{
            flex-basis: 33%;
        }
    }
}